<!--
  /src/partials/head.html
  Head HTML Partial.
  Author: TheDevMystic
-->

<head>
  <!-- Character set: UTF-8 -->
  <meta charset="utf-8">
  
  <!-- Viewport Property -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Pre-connect to Google Tag Manager -->
  <link crossorigin rel="preconnect" href="https://www.googletagmanager.com">

  <!-- Pre-connect to GitHub Raw Content -->
  <link crossorigin rel="preconnect" href="https://raw.githubusercontent.com">

  <!-- Pre-connect to jsDevlivr -->
  <link crossorigin rel="preconnect" href="https://cdn.jsdelivr.net">

  <!-- Referrer Scheme -->
  <meta name="referrer" content="strict-origin-when-cross-origin">

  <!-- IE Compatibility -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Progressive Web App (PWA) Configuration -->
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#3C6E71">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-capable" content="yes">

   <!-- Windows Tile Configuration -->
  <meta name="msapplication-config" content="/browserconfig.xml">

  <!-- Title and Description -->
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <!-- Canonical link -->
  <link rel="canonical" href="{{canonical}}">

  <!-- OG Title and Description -->
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{canonical}}">
  <meta property="og:image" content="{{image}}">

  <!-- Twitter Card -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{title}}">
  <meta property="twitter:description" content="{{description}}">
  <meta property="twitter:image" content="{{image}}">
  <meta property="twitter:creator" content="@thedevmystic">

  <!-- Author Information -->
  <meta name="author" content="Suryansh Singh">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- Favicon setup -->
  <!-- SVG for modern browsers -->
  <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg">

  <!-- Fallback PNG Favicons for older browsers-->
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicons-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicons-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicons/favicons-48x48.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicons-64x64.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicons/favicons-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/favicons/favicons-144x144.png">
  <link rel="icon" type="image/png" sizes="180x180" href="/favicons/favicons-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicons-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/favicons/favicons-256x256.png">
  <link rel="icon" type="image/png" sizes="324x324" href="/favicons/favicons-324x324.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicons/favicons-512x512.png">
  <link rel="icon" type="image/png" sizes="1024x1024" href="/favicons/favicons-1024x1024.png">

  <!-- Fallback ICO Favicon for legacy browsers-->
  <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">

  <!-- Apple Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">

  <!-- Google Tag Scripts -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JSHJ036S2"></script>
  <script defer src="/scripts/site-analytics.js"></script>
</head>

