/* This file contains font definitions for the application. */

/**
 * @description Comic Relief font (sans-serif).
 * Fallback font: Arial
 */
/* Regular */
@font-face {
  font-family: 'Comic Relief Fallback';
  font-weight: 400;
  font-style: normal;
  ascent-override: 99.71%;
  descent-override: 32.17%;
  line-gap-override: 0%;
  size-adjust: 105.78%;
  src: local('Arial');
}
/* Bold */
@font-face {
  font-family: 'Comic Relief Fallback';
  font-weight: 700;
  font-style: normal;
  ascent-override: 95.05%;
  descent-override: 30.67%;
  line-gap-override: 0%;
  size-adjust: 110.96%;
  src: local('Arial');
}

/**
 * @description Libertinus Math font (serif).
 * Fallback font: Times New Roman
 */
@font-face {
  font-family: 'Libertinus Math Fallback';
  font-weight: 400;
  font-style: normal;
  ascent-override: 87.32%;
  descent-override: 24.03%;
  line-gap-override: 0%;
  size-adjust: 102.38%;
  src: local('Times New Roman');
}

:root {
  /* Base font variables */
  --font-serif-base:
    ui-serif, 'Charter', 'Bitstream Charter', 'Iowan Old Style', 'Sitka Text', Georgia, Cambria,
    'Times New Roman', Times, serif;
  --font-sans-base:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  --font-mono-base:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;

  /* Current font variables */
  --font-body: var(--font-inter), var(--font-sans-base);
  --font-head: var(--font-source-serif-4), var(--font-serif-base);
  --font-mono: var(--font-jetbrains-mono), var(--font-mono-base);
}

/* Body fonts. */
:root[data-font-body='sans'] {
  --font-body: var(--font-inter), var(--font-sans-base);
}
:root[data-font-body='serif'] {
  --font-body: var(--font-source-serif-4), var(--font-serif-base);
}
:root[data-font-body='comic'] {
  --font-body: var(--font-comic-relief), 'Comic Relief Fallback', var(--font-sans-base);
}
:root[data-font-body='def-sans'] {
  --font-body: var(--font-sans-base);
}
:root[data-font-body='def-serif'] {
  --font-body: var(--font-serif-base);
}

/* Heading fonts. */
:root[data-font-head='serif'] {
  --font-head: var(--font-source-serif-4), var(--font-serif-base);
}
:root[data-font-head='sans'] {
  --font-head: var(--font-inter), var(--font-sans-base);
}
:root[data-font-head='comic'] {
  --font-head: var(--font-comic-relief), 'Comic Relief Fallback', var(--font-sans-base);
}
:root[data-font-head='def-sans'] {
  --font-head: var(--font-sans-base);
}
:root[data-font-head='def-serif'] {
  --font-head: var(--font-serif-base);
}

/* Monospace fonts. */
:root[data-font-mono='jb-mono'] {
  --font-mono: var(--font-jetbrains-mono), var(--font-mono-base);
}
:root[data-font-mono='fira-code'] {
  --font-mono: var(--font-fira-code), var(--font-mono-base);
}
:root[data-font-mono='source-code-pro'] {
  --font-mono: var(--font-source-code-pro), var(--font-mono-base);
}
:root[data-font-mono='ubuntu-mono'] {
  --font-mono: var(--font-ubuntu-mono), var(--font-mono-base);
}
:root[data-font-mono='def-mono'] {
  --font-mono: var(--font-mono-base);
}

/* Math fonts. */
:root[data-font-math='libertinus'] {
  --font-math: var(--font-libertinus-math), 'Libertinus Math Fallback', var(--font-serif-base);
}
:root[data-font-math='noto-sans-math'] {
  --font-math: var(--font-noto-sans-math), var(--font-serif-base);
}
:root[data-font-math='def-math'] {
  --font-math: var(--font-serif-base), var(--font-sans-base);
}
