/** Content width tokens */

:root,
[data-width='narrow'] {
  --content-width: 80ch;
}

[data-width='standard'] {
  --content-width: 100ch;
}

[data-width='wide'] {
  --content-width: 120ch;
}

.container {
  max-width: var(--content-width) !important;
  width: 100% !important;
  transition: max-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
